.authenticationContainer{
    display: flex;
    width: 100vw;
    min-height: 100vh;
}
.leftside{
    width: 50%;
    background-color: var(--primary_black);
    display: flex;
    align-items: center;
    justify-content: center;
}
.rightside{
    width: 50%;
    background-color: var(--primary_green);
}
.welcome-text{
    margin-top: 1rem;
    width: 80%;
}
.welcome-text h1{
    margin: 0;
    color:white;
}
.welcome-text p{
    margin: 5px 0;
    color: rgb(226,226,226);
    line-height: 25px;
    font-size: 14px;
}
.leftside-container{
    width: 80%;
}
.authentication-button{
    border: unset;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 14px;
    border-radius: 4px;
  cursor: pointer;
    height: 50px;
}
.leftside-container a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 4rem;
    cursor: pointer;
}
.fieldError{
    color: red;
    font-size: 12px;
    margin: 4px 0;

}
.noFieldError{
    color: transparent;
    margin: 4px 0;

}
.input-button-fields{
    margin: 3rem 0;
}
.registrstion-step-container{
   
    border-radius: 4px;
    width:65%;
   margin-top: 2rem;
}
.registrstion-step-container .header-container{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    margin-bottom: 1rem;
}
.registrstion-step-container.header-container p{
    color: var(--primary_green);
    font-size: 12px;
    font-weight: bold;
    margin: 0;

}
.step-icon{
    background-color: white;
    color: var(--primary_green);
    font-weight:bold;
    font-size: 13px;
    width: 12%;
    padding: 5px;
    border-radius: 4px;
}
.authentication-button-alternate{
    background-color:transparent;
    color: var(--primary_green);
    border: 1px solid white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}