:root{
  --primary_green:#0CCE68;
  --primary_black:#0C090D;
  --dashboard_main:#1f1f1f;
  --dashboard_accent:#eeecec;


}

*{
  font-family: 'Raleway', sans-serif;
}
body{
  margin: 0;
  box-sizing: border-box;
} 

